*{
    margin: 0;
    padding: 0;
    border: 0;
}
.card-login {
    padding: 30px 0 0 0;
    width: 350px;
    margin: 0 auto;
}

.card-home {
    padding: 30px 0 0 0;
    width: 100%;
    margin: 0 auto;
}

.logo{
    width: 50px;
    height: 50px;
    align-self: top;
}

.logoff{
    width: 120px;
    height: 50px;
}
.opencall{
    width: 120px;
    height: 50px;
}
.consultcall{
    width: 120px;
    height: 50px;
}
.home_button{
    width: 120px;
    height: 50px;
}

.card_open_call{
    padding: 30px 0 0 0;
    width: 100%;
    margin: 0 auto;
}

.card_consult_call{
    padding: 30px 0 0 0;
    width: 100%;
    margin: 0 auto;
}

.linkButton{
    text-decoration: none;
}